<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    
    <link rel="stylesheet" href="../stylesheets/partial.css" media="screen"/>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <style>
    /* Style the header */
    .page-header {
      background-color: #f1f1f1;
      padding: 20px;
      text-align: center;
    }

    /* Style image within header */
    .page-header img {
      float: left;
    }

    /* Style the top navigation bar */
    .navbar ul {
      overflow: hidden;
      background-color: #CE0F3D;
      list-style-type: none;
    }

    /* Style the topnav links */
    .navbar a {
      float: left;
      display: block;
      color: #FFFFFF;
      text-align: center;
      padding: 15px;
    }

    /* Change color on hover */
    .navbar a:hover {
      background-color: #B0B7BC;
      color: #000000;
    }

    body {
      padding-left: 15%;
      padding-right: 15%;
    }

    li {
      padding-bottom: 7px; 
    }

  </style>
  
  <body class="<%= page_classes %>">
    <%= partial "_header.erb"%>
    <%= yield %>
    <%= partial "_footer"%>
  </body>
</html>
